.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  max-width: 24rem;
}

.input {
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  font-size: 14px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
}

.input:focus {
  outline-color: skyblue;
}

.input_error {
  outline: 1px solid;
  outline-color: palevioletred;
}

.input_error:focus {
  outline-width: 2px;
  outline-color: palevioletred;
}

.errorMsg {
  color: palevioletred;
}

/*
  elemnt class selector
*/

/* input.textField_input:active {
  outline-color: green;
} */
