body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  every child of body css style inherit from parent
*/

body * {
  box-sizing: inherit;
}

/*
  Global Setting CSS
*/

.textField_icon {
  position: absolute;
  top: 2.6rem;
  left: 0.8rem;
  width: 24px;
  height: 24px;
  color: #d2d2d2;
}

