:root {
  --form-control-disabled: #959495;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  every child of body css style inherit from parent
*/

body * {
  box-sizing: inherit;
}
